%background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Dancing Script", cursive;
}

%button {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(162, 134, 173);
  border: 1px solid transparent;
  border-radius: 10px;
  transition: transform 0.2s;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/imgs/tijana-drndarski-dFoOWRT97_0-unsplash.jpg);
  @extend %background;
}

header {
  h2 {
    text-align: center;
    font-size: 10rem;
    color: white;
    padding-top: 5rem;
  }
}

main {
  .haircare {
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 2rem auto;
    padding: 1rem;
    width: 60%;
    gap: 2rem;
  }

  .div-1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(181, 179, 179, 0.397);
    width: 50%;
    height: 40rem;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000000;

    .content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }

    img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      transition: transform 0.2s;
      border-radius: 10px;
    }
    img:hover {
      transform: scale(1.2);
    }

    h3 {
      font-size: 2rem;
      padding-left: 1rem;
    }

    p {
      font-size: 1.5rem;
      padding: 0.5rem;
      padding-left: 1rem;
    }

    button {
      @extend %button;
    }

    button:hover {
      transform: scale(1.2);
    }

    .fa-heart {
        float: right;
        font-size: 2rem;
        padding: 1rem;
      }
  }
  .back {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    a {
      text-decoration: none;
      font-size: 2rem;
      color: white;
    }
  }
}

footer {
  background-color: rgba(157, 149, 149, 0.497);

  h2 {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
  }

  .social {
    ul {
      display: flex;
      justify-content: center;
    }

    li {
      list-style-type: none;
      padding: 1rem 2rem;
      font-size: 2rem;
    }
  }

  .tag {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    color: rgb(196, 200, 216);
  }

  .footer-2 {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .contact {
      padding-left: 5rem;

      li {
        list-style-type: none;
        padding: 0.5rem 0;
      }

      li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
      }
    }

    .mail {
      padding-right: 2rem;
      margin-bottom: 1rem;
      p {
        color: rgb(255, 255, 255);
        padding: 0.5rem 0;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    .haircare {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 50%;
      gap: 1rem;
      .div-1 {
        width: 100%;
      }
    }
  }

  footer {
    padding-bottom: 2rem;
  }
}
